body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
h1,h2,h3,h4 {
    background-color: #d53680;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
}
a {
    color: #74365e;
    text-decoration: none;
}
a:hover {
    background-color: #D6A800;
    color: #b24a8a;
}
a:visited{
    color: #87335c;
}
